  header
    .header-logo
      - if @current_user
        p.back-btn
          i.fa.fa-arrow-left
        = link_to("/posts/index",class: "border-none") do
          = image_tag("/image/detector_logo.png", class: "logo-image")
      - else
        = link_to("/",class: "border-none btn-black") do
          = image_tag("/image/detector_logo.png", class: "logo-image")
  .comment-page
    #comments-list
      = render(partial: "comments")
    = form_tag("/comments/#{params[:post_id]}/create", remote: true) do
      .comment-form
        textarea.comment-text name="contents" placeholder="Comment" = @comment.contents
        input.comment-input-btn type="submit" /
