.top
 h3 LogIn
 .form
  -if flash[:error]
   .error-flash
    p = flash[:error]
  = form_tag("/users/login") do
   input.user-input type="text" name="email" placeholder="please enter email"
   br
   input.user-input type="password" name="password" placeholder="please enter password"
   br
   input.user-input type="submit" value="ログイン"
  p = link_to("新規登録へ","/signup",class: "change-btn")