<div class="top">
	<h1>Detector</h1>
	<p>アイディアを形にしよう</p>
	<div class="btn">
		<p><%= link_to("SignUp", "/signup", class: "btn-white top-btn border-none") %></p>
		<p><%= link_to("LogIn", "/login", class: "btn-white top-btn border-none") %></p>
	</div>
</div>