.top
 h1 Yapy
 p アイディアを形にしよう
 .btn
  p = link_to("SignUp", "/signup", class: "btn-white top-btn border-none")
  p = link_to("LogIn", "/login", class: "btn-white top-btn border-none")
#home-load
 p = image_tag "Preloader_7.gif"