<% @good_count = Good.where(post_id: @post.id).count %>
<% if @good_user %>
  <%= link_to("/goods/#{@post.id}/destroy", method: 'post', remote: true) do %>
  <p class="good-btn pushed-good-btn">
    <i class="fa fa-thumbs-up"></i>
    <%= @good_count %>
  </p>
  <% end %>
  <div class="clear-left"></div>
 <% else %>
  <%= link_to("/goods/#{@post.id}/create", method: 'post', class: "select-btn-black", remote: true) do %>
   <p class="good-btn">
    <i class="fa fa-thumbs-o-up"></i>
    <%= @good_count %>
  </p>
  <% end %>
  <div class="clear-left"></div>
 <% end %>