<div id= "post-page">
 <% @posts.each do |post| %>
 <% good = Good.where(post_id: post.id) %>
  <div class="post">
   <%= link_to("/posts/#{post.id}",class: "border-none post-menu-color", remote: true) do %>
	<div class="title-contents">
	 <h3><%= post.title %></h3>
	 <div>!?</div>
	</div>
	<div class="clear-left clear-right"></div>
	<div class="post-menu">
	 <p class="good-count"><i class="fa fa-thumbs-up"></i><span><%= good.count %></span></p>
	 <p class="post-time"><%= simple_time(post.created_at) %></p>
	</div>
	<div class="clear-left"></div>
   <% end %>
  </div>
 <% end %>
</div>