<div class="page">
	<div class="post-show">
		<p class="post-time"><%= simple_time(@post.created_at) %></p>
		<div class="clear-right"></div>
		<h2 class="post-show-title"><%= @post.title %></h2>
		<p class="post-show-contents"><%= @post.contents %></p>
	</div>
</div>