/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
*{
	box-sizing: border-box;
	-webkit-overflow-scrolling: touch;
}
a:hover{
	text-decoration: none;
}
body {
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}
html,body{
	margin: 0;
	background-color: #eee;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
input, button, textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: none;
}
textarea{
	resize: none;
}
#infscr-loading{
	text-align: center;
	margin:  5px  auto;
	padding: 0;
}
.page{
	width: 100%;
	height: 100%;
}
.clear-left{
	clear: left;
}
.clear-right{
	clear: right;
}
.btn-white{
	color: white;
}
.btn-black{
	color: #333;
}
.btn-green{
	color: #009900;
}
.btn-green:hover{
	color: #009900;
}
.border-none{
	text-decoration: none;
}
#load{
	background-color: rgba(255, 255, 255, 0.8);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 300;
	display: none;
}
#load p{
	position: absolute;
	top:45%;
	display: inline-block;
	margin: 0 40%;

}
#flash{
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 50px;
	left: 0;
	text-align: center;
	background: rgba(0,0,0,0.8);
	z-index: 100;
}
#flash-home{
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
}
.flash-text{
	font-size: 13px;
	color: #fff;
	line-height: 50px;
}
.form{
	width: 95%;
	max-width: 480px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0 20px;
	padding-bottom: 20px;
	border-radius: 10px;
}
.input-btn{
	display: inline-block;
	height: 35px;
	width: 250px;
	margin: 0 auto;
	outline: none;
	font-size: 15px;
	border: none;
	border-radius: 50px;
	margin-top: 20px;
	padding: 0 10px;
	background-color: #009900;
	color: #fff;
	box-shadow: 0 3px #005500;
}
.input-btn:hover{
	color: #fff;
}
.image-file{
	display: inline-block;
}
.image-file input{
	display: none;
}
/* header */
header{
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	box-shadow: 0 1px 5px #888;
	z-index: 100;
}
.header-logo{
	margin: 0 auto;
	text-align: center;
}
.logo-image{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
#header-menu-down{
	position: absolute;
	top: 10px;
	left: 20px;
	font-size: 30px;
	color: #009900;
}
#header-menu{
	position: fixed;
	top: 50px;
	z-index: 50;
	padding: 0 10px;
	width: 100%;
	white-space: nowrap;
	height: 50px;
	overflow-x: auto;
	overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
	background-color: rgb(255, 255, 255);
	border-bottom: 1px solid #ccc;
	display: none;
}
#header-menu::-webkit-scrollbar {
    display: none;
}
.menu-title{
	display: none;
}
#header-menu p{
	display: inline-block;
	margin: 17px 10px;
 	font-size: 13px;
}
.link{
	padding: 7px 10px;
	border-radius: 5px;
	vertical-align: top;
 	background-color: #0e5102;
	text-decoration: none;
	box-shadow: 3px 2px 5px #bbb;
	color: #fff;
}
.link:hover{
	color: #fff;
}
.back-btn{
	position: absolute;
	top: 15px;
	left: 15px;
	font-size: 18px;
	color: #0e5102;
}
.new-post{
	position: absolute;
	top: 15px;
	right: 20px;
	font-size: 22px;
	z-index: 100;
}
.point{
	position: absolute;
	top: 55px;
	right: 8px;
	border: 1.5px solid #ccc;
	background-color: rgba(255, 255, 255, 0.8);
	display: inline-block;
	padding: 7px 12px;
	border-radius: 50px;
	z-index: 100;
}
.point p{
	color: #000;
	font-size: 15px;
	font-weight: bold;
}
.point span{
	color: #009900;
	padding-left: 5px;
}
@media screen and (min-width: 480px){
	#load p{
		position: absolute;
		top:45%;
		display: inline-block;
		margin: 0 43%;

	}
}
@media screen and (min-width: 960px){
	#load p{
		position: absolute;
		top:45%;
		display: inline-block;
		margin: 0 45%;

	}
	#header-menu-down{
		display: none;
	}
	#header-menu{
		position: absolute;
		top: 100px;
		left: 10px;
		z-index: 50;
		padding-left: 20px;
		width: 23%;
		height: 400px;
		white-space: normal;
		background-color: rgb(255, 255, 255);
		border: none;
		display: inline-block;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	.menu-title{
		display: block;
		color: #0e5102;
		font-size: 30px;
		font-weight: bold;
		padding: 20px 0 20px 0;
	}
	#header-menu p{
		display: block;
		margin: 30px 0;
 		font-size: 15px;
	}
	.link{
		padding: 0;
		border-radius: none;
		vertical-align: none;
 		background-color: #fff;
		text-decoration: none;
		box-shadow: none;
		font-weight: 600;
		color: #009900;
	}
	.link:hover{
		color: #009900;
	}
}
@media screen and (min-width: 1281px){
	#load p{
		position: absolute;
		top:45%;
		display: inline-block;
		margin: 0 47%;
	}
	#header-menu{
		position: absolute;
		top: 100px;
		left: 5%;
		z-index: 50;
		padding-left: 20px;
		width: 23%;
		height: 400px;
		white-space: normal;
		background-color: rgb(255, 255, 255);
		border: none;
		display: inline-block;
		overflow-x: hidden;
		overflow-y: hidden;
	}
	.menu-title{
		display: block;
		color: #0e5102;
		font-size: 30px;
		font-weight: bold;
		padding: 20px 0 20px 0;
	}
}