/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /*
 *= require font-awesome
 */
*{
	box-sizing: border-box;
}
body {
font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Yu Gothic", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
}
html,body{
	margin: 0;
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
	padding: 0;
}
input, button, textarea{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: none;
}
textarea{
	resize: none;
}
.page{
	width: 100%;
	height: 100%;
}
.clear-left{
	clear: left;
}
.clear-right{
	clear: right;
}
.btn-white{
	color: white;
}
.btn-black{
	color: #333;
}
.border-none{
	text-decoration: none;
}
#flash{
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 50px;
	left: 0;
	text-align: center;
	background: rgba(0,0,0,0.8);
}
#flash-home{
	display: none;
	width: 100%;
	height: 50px;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;
	background-color: rgba(0,0,0,0.7);
}
.flash-text{
	font-size: 13px;
	color: #fff;
	line-height: 50px;
}
.form{
	width: 95%;
	margin: 0 auto;
}
.input-btn{
	font-size: 15px;
	border: none;
	width: 100%;
	border-radius: 50px;
	margin-top: 20px;
	padding: 5px 0;
	background-color: #009900;
	color: #fff;
	box-shadow: 0 3px #005500;
}
/* header */
header{
	height: 50px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.8);
	box-shadow: 0 1px 5px #888;
	z-index: 100;
}
.header-logo{
	margin: 0 auto;
	text-align: center;
}
.logo-image{
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: 10px;
}
.header-color{
	position: absolute;
	top: 15px;
	right: 15px;
	font-size: 15px;
	color: black;
}