// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment-page{
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: #fff;
	width: 100%;
	margin: 0 auto;
	padding-top: 55px;
	overflow-y: auto;
}
.comment-form{
	width: 100%;
	margin: 0 auto;
	position: fixed;
	background-color: #fff;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 10;
	float: left;
	padding: 10px;
	box-shadow:0 -1px 5px #aaa;
}
.comment-input-btn{
	outline: none;
	float: left;
	margin-left: 5px;
	background-color: #009900;
	border: #009900;
	border-radius: 30px;
	padding: 3px 10px;
	color: #fff;
	font-size: 13px;
}
.comment-text{
	font-size: 13px;
	width: 80%;
	border-radius: 10px;
	padding: 5px;
	outline: none;
	float: left;
	background-color: #eee;
	overflow: hidden;
}
#comments-list{
	padding-bottom: 55px;
}
.comments{
	height: 100%;
	overflow: auto;
}
.comment{
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
}
.comment-menu{
	width: 95%;
	margin: 0 auto;
	position: relative;
}
.comment-image{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-left: 5px;
	object-fit: cover;
}
.comment-hatena-image{
	width: 40px;
	height: 40px;
	line-height: 45px;
	border-radius: 50%;
	float: left;
	text-align: center;
	margin-left: 5px;
	color: #fff;
	font-size: 20px;
	font-family: 'terminal';
	font-weight: bold;
	background-color: #0e5102;
}
.comment-name{
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 5px;
}
.comment-time{
	float: left;
	font-size: 12px;
	color: #bbb;
	margin-top: 15px;
	margin-left: 20px;
}
.comment-contents{
	font-size: 15px;
	width: 95%;
	margin: 0 auto;
	margin-top: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
}
.comment-blank{
	font-size: 15px;
	margin-top: 50px;
	color: #aaa;
	text-align: center;
}
@media screen and (min-width: 320px){
	.comment-form{
		padding: 20px;
	}
	.comment-input-btn{
		font-size: 15px;
	}
}