// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.comment{
	width: 100%;
	border-bottom: 1px solid #ccc;
	margin-top: 20px;
}
.comment-menu{
	width: 95%;
	margin: 0 auto;
}
.comment-image{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	float: left;
	margin-left: 5px;
	object-fit: cover;
}
.comment-hatena-image{
	width: 40px;
	height: 40px;
	line-height: 40px;
	border-radius: 50%;
	float: left;
	text-align: center;
	margin-left: 5px;
	color: #fff;
	font-size: 20px;
	font-family: 'terminal';
	font-weight: bold;
	background-color: #0e5102;
}
.comment-name{
	float: left;
	font-size: 15px;
	font-weight: bold;
	margin-top: 8px;
	margin-left: 5px;
	word-wrap: break-word;
}
.comment-time{
	float: left;
	font-size: 12px;
	color: #bbb;
	margin-top: 13px;
	margin-left: 20px;
}
.comment-contents{
	font-size: 15px;
	width: 95%;
	margin: 0 auto;
	margin-top: 5px;
	padding-bottom: 5px;
	word-wrap: break-word;
}
.comment-blank{
	font-size: 15px;
	margin-top: 50px;
	color: #aaa;
	text-align: center;
}