// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.contact-page{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #eee;
	text-align: center;
	padding-top: 180px;
}
.contact-form{
	width: 95%;
	max-width: 480px;
	display: inline-block;
	background-color: #fff;
	margin: 0 auto;
	padding: 10px;
	box-shadow: 5px 8px 10px #ccc;
}
.contact-form h3{
	font-size: 25px;
	font-weight: 600;
	color: #333;
	padding-bottom: 10px;
}
.contact-form textarea{
	width: 95%;
	height: 150px;
	border: 1px solid #ccc;
	padding: 5px;
	font-size: 13px;
}
.contact-index-page{
	width: 100%;
	height: 100%;
	padding-bottom: 50px;
}
.contact-index-page h3{
	text-align: center;
	font-size: 25px;
	padding-top: 120px;
	padding-bottom: 30px;
	font-weight: 600;
	color: #009900;
}
.contact{
	height: 100%;
	width: 95%;
	margin: 0 auto;
	padding: 10px;
	margin-top: 20px;
	border: 1px solid #aaa;
}
.contact-text{
	font-size: 15px;
	color: #555;
	word-wrap: break-word;
}
.contact-time{
	font-size: 12px;
	padding-top: 10px;
}