// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	color: white;
	background: linear-gradient(to left top,#00ff00 20%,#0000ff);
}
.top h1{
	padding-top: 150px;
	font-size: 65px;
	font-family: Impact,Charcoal;
}
.top-text{
	font-size: 17px;
	padding-top: 20px;
}
.twitter{
	line-height: 40px;
	display: inline-block;
	height: 40px;
	padding: 0 10px;
	background-color: #00aced;
	border-radius: 5px;
	font-size: 15px;
	color: #fff;
	margin-top: 80px;
}
.twitter i{
	font-size: 20px;
	padding-right: 10px;
}
.top-btn{
	border: 2px solid white;
	padding: 10px;
	border-radius: 5px;
}
#home-load{
	background-color: rgba(255, 255, 255, 1);
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 100;
	display: none;
	text-align: center;
}
#home-load p{
	display: inline-block;
	margin: 0 auto;
	margin-top: 200px;
}

/* agreement */
.agreement-title{
	font-size: 25px;
	font-weight: bold;
	text-align: center;
	margin: 50px 0;
	color: #009900;
}
.agreement-text{
	width: 90%;
	margin: 0 auto;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 10px;
}
.agreement{
	width: 90%;
	height: 100%;
	margin: 0 auto;
	padding: 0 20px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	background-color: #eee;
}
.agreement h3{
	padding-top: 20px;
	font-size: 18px;
}
.agreement p{
	padding-top: 10px;
	font-size: 13px;
}
.agreement h5{
	font-size: 13px;
	padding: 10px 0;
}
.back-top-btn{
	color: white;
	font-size: 15px;
	float: right;
	margin-right: 20px;
	margin-bottom: 20px;
	background-color: #009900;
	padding: 5px 10px;
	border-radius: 20px;
}