// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts-list{
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding-top: 55px;
}
.post{
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 5px 5px;
}
.post h3{
	text-align: center;
	font-size: 17px;
	color: #333;
	padding-bottom: 5px;
	word-wrap: break-word;
}
.select-evaluation{
	width: 100%;
}
.select-evaluation p{
	margin-top: 15px;
	margin-bottom: 20px;
}
.select-btn-black{
	color: #aaa;
}
.good-btn{
	font-size: 25px;
	display: inline-block;
	float: left;
	border: 1px solid #00CC00;
	box-shadow: 0 3px #007700;
	border-radius: 50%;
	margin-left: 55px;
	padding: 20px 25px;
	color: #888;
}
.pushed-good-btn{
	box-shadow: none;
	color: #00CC00;
}
.bad-btn{
	font-size: 25px;
	display: inline-block;
	float: right;
	border: 1px solid #000044;
	box-shadow: 0 3px #000022;
	border-radius: 50%;
	margin-right: 55px;
	padding: 20px 25px;
	color: #888;
}
.pushed-bad-btn{
	box-shadow: none;
	color: #000044;
}
.post-time{
	float: right;
	font-size: 12px;
	color: #aaa;
}
.post-detail{
	float: left;
	margin-left: 20px;
	font-size: 15px;
}
.post-menu-color{
	color: #aaa;
}

/* new */

.post-form{
	background-color: #fff;
	text-align: center;
	padding-top: 120px;
}
.post-form h3{
	font-size: 30px;
}
.post-input{
	width: 100%;
	padding: 5px;
	margin-top: 20px;
	font-size: 14px;
	border: 1px solid #ccc;
}
.post-text{
	height: 200px;
}

/* show */

.post-show{
	padding-top: 100px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.post-show-title{
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 40px;
	word-wrap: break-word;
}
.post-show-contents{
	font-size: 15px;
	word-wrap: break-word;
	margin-bottom: 30px;
}