// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts-list{
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding-top: 55px;
}
.post{
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 5px 5px;
}
.post:active{
	background-color: #eee;
}
.title-contents{
	text-align: left;
	float: left;
	width: 100%;
	padding-top: 15px;
	padding-left: 10px;
}
.hatena-image{
	font-family: 'terminal';
	text-align: center;
	float: right;
	display: inline-block;
	font-size: 50px;
	line-height: 125px;
	font-weight: bold;
	color: white;
	width: 48%;
	height: 125px;
	margin-left: 2%;
	background-color: #009900;
}
.title-contents h3{
	font-size: 15px;
	width: 50%;
	float: left;
	color: #333;
	word-wrap: break-word;
}
.post-menu{
	padding-top: 20px;
	display: inline-block;
	width: 100%;
	float: left;
}
.good-count{
	float: left;
	padding-left: 15px;
	color: #00CC00;
	font-size: 17px;
}
.good-count i{
	padding-right: 2px;
}
.comment-count{
	float: left;
	padding-left: 10px;
	color: #00CC00;
	font-size: 17px;
}
.post-edit{
	float: left;
	padding-top: 3px;
	padding-left: 15px;
	font-size: 14px;
}
.comment-count i{
	padding-right: 3px;
}
.post-time{
	padding-top: 5px;
	float: right;
	font-size: 12px;
	color: #aaa;
}
.post-menu-color{
	color: #aaa;
}
.post_image_size{
	width: 50%;
	height: 150px;
	object-fit: contain;
}
/* new */

.post-form{
	background-color: #fff;
	text-align: center;
	padding-top: 100px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.post-form h3{
	font-size: 30px;
}
.post-form p{
	font-size: 13px;
	color: red;
	margin: 10px 0;
}
.post-input{
	width: 100%;
	padding: 5px;
	margin-top: 20px;
	font-size: 14px;
	border: 1px solid #ccc;
}
.post-text{
	height: 200px;
}
.post-file{
	margin-top: 10px;
}
/* show */
.show-page{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #fff;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}
.post-show{
	padding-top: 100px;
	width: 100%;
}
.post-show-title{
	width: 95%;
	margin: 0 auto;
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 40px;
	word-wrap: break-word;
}
.post-show-contents{
	width: 95%;
	margin: 0 auto;
	font-size: 15px;
	word-wrap: break-word;
	padding-bottom: 20px;
}
.select-btn-black{
	color: #aaa;
}
.good-btn{
	position: fixed;
	bottom: 30px;
	right: 15px;
	z-index: 100;
	width: 60px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 30px;
	display: inline-block;
	float: left;
	border: 1px solid #00CC00;
	border-radius: 50%;
	color: #888;
}
.pushed-good-btn{
	color: #00CC00;
}
.comment-page{
	width: 100%;
	padding-top: 10px;
	border-top: 1px solid #ccc;
}
.comment-form{
	width: 90%;
	margin: 0 auto;
}
.comment-input-btn{
	outline: none;
	float: left;
	background-color: #009900;
	border: 1px solid #009900;
	border-radius: 5px;
	padding: 10px 20px;
	color: #fff;
	font-size: 15px;
	margin-bottom: 30px;
}
.comment-text{
	font-size: 13px;
	width: 100%;
	height: 150px;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 5px;
	outline: none;
	background-color: #fff;
	margin-top: 30px;
	-webkit-overflow-scrolling: touch;
}
// rank
.rank-page{
	height: 100%;
	width: 100%;
	padding-top: 120px;
	background-color: #eee;
}
.rank-contents{
	width: 95%;
	height: 100%;
	padding: 20px 0;
	border-radius: 10px;
	margin: 0 auto;
	margin-bottom: 30px;
	background-color: #fff;
}
.rank-content{
	width: 100%;
	height: 100%;
	text-align: center;
	padding-bottom: 10px;
}
.rank-top-post{
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 10px;
	color: black;
}
.rank-top-post i{
	font-size: 20px;
	color: yellow;
	padding: 0 5px 0 10px;
}
.rank-notop-post{
	border-top: 1px solid #ccc;
	font-weight: bold;
	font-size: 15px;
	padding: 20px 0 10px 15px;
	color: black;
}
.rank-title{
	font-size: 18px;
	font-weight: bold;
	padding: 0 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
	color: black;
}
.rank-image{
	width: 80%;
	height: 130px;
	object-fit: contain;
	margin-bottom: 10px;
}
.rank-post-hatena{
	font-family: 'terminal';
	text-align: center;
	display: inline-block;
	font-size: 30px;
	line-height: 130px;
	font-weight: bold;
	color: white;
	width: 80%;
	height: 130px;
	background-color: #009900;
	margin-bottom: 10px;
}
.rank-user-name{
	text-align: left;
	margin-left: 20px;
	font-size: 15px;
	color: black;
}
.rank-menu{
	float: left;
	margin-top: 10px;
}
.rank-item{
	float: left;
	padding: 0 10px;
	color: #00cc00;
	font-size: 15px;
}
.rank-item i{
	padding-right: 5px;
}
.rank-good-count{
	margin-left: 5px;
}
.rank-time{
	margin-top: 2px;
	margin-left: 70px;
	float: right;
	font-size: 13px;
	color: #aaa;
}
.no-rank-page{
	text-align: center;
	padding: 0 10px;
	padding-top: 250px;
}
.no-rank-page h3{
	font-size: 18px;
	font-weight: bold;
	color: #999;
}
@media screen and (min-width: 480px){
	.good-btn{
		margin-left: 70px;
	}
	.comment-btn{
		margin-right: 70px;
	}
}
@media screen and (min: 960px){
	
}
@media screen and (min: 1281px){

}