// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.posts-list{
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding-top: 55px;
}
.post{
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
	padding: 5px 5px;
}
.post:active{
	background-color: #eee;
}
.title-contents{
	text-align: left;
	float: left;
	width: 100%;
	padding-top: 15px;
	padding-left: 10px;
}
.hatena-image{
	font-family: 'terminal';
	text-align: center;
	float: right;
	display: inline-block;
	font-size: 50px;
	line-height: 130px;
	font-weight: bold;
	color: white;
	width: 50%;
	height: 130px;
	background-color: #009900;
}
.title-contents h3{
	font-size: 15px;
	width: 50%;
	float: left;
	color: #333;
	word-wrap: break-word;
}
.post-menu{
	padding-top: 20px;
	display: inline-block;
	width: 100%;
	float: left;
}
.good-count{
	float: left;
	padding-left: 15px;
	color: #00CC00;
	font-size: 17px;
}
.good-count i{
	padding-right: 2px;
}
.comment-count{
	float: left;
	padding-left: 10px;
	color: #00CC00;
	font-size: 17px;
}
.comment-count i{
	padding-right: 3px;
}
.post-time{
	float: right;
	font-size: 12px;
	color: #aaa;
}
.post-menu-color{
	color: #aaa;
}
.post_image_size{
	width: 50%;
	height: 150px;
	object-fit: contain;
}
/* new */

.post-form{
	background-color: #fff;
	text-align: center;
	padding-top: 100px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}
.post-form h3{
	font-size: 30px;
}
.post-form p{
	font-size: 13px;
	color: red;
	margin: 10px 0;
}
.post-input{
	width: 100%;
	padding: 5px;
	margin-top: 20px;
	font-size: 14px;
	border: 1px solid #ccc;
}
.post-text{
	height: 200px;
}
.post-file{
	margin-top: 10px;
}
/* show */
.show-page{
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	overflow: auto;
	background-color: #fff;
}
.post-show{
	padding-top: 100px;
	width: 90%;
	height: 100%;
	margin: 0 auto;
}
.post-show-title{
	font-size: 25px;
	margin-top: 20px;
	margin-bottom: 40px;
	word-wrap: break-word;
}
.post-show-contents{
	font-size: 15px;
	word-wrap: break-word;
}
.select-evaluation{
	width: 100%;
	border-top: 1px solid #bbb;
	padding: 20px 0;
	margin-top: 50px;
	float: left;
}
.select-btn-black{
	color: #aaa;
}
.good-btn{
	width: 120px;
	text-align: center;
	font-size: 25px;
	display: inline-block;
	float: left;
	border: 1px solid #00CC00;
	border-radius: 10px;
	margin-left: 20px;
	padding: 15px 0;
	color: #888;
}
.pushed-good-btn{
	color: #00CC00;
}
.comment-btn{
	width: 120px;
	text-align: center;
	font-size: 25px;
	display: inline-block;
	float: right;
	border: 1px solid #00CC00;
	border-radius: 10px;
	margin-right: 20px;
	padding: 15px 0;
	color: #00CC00;
}

// rank

.rank-contents{
	width: 95%;
	height: 100%;
	padding: 20px 0;
	box-shadow: 3px 8px 20px #ccc;
	border-radius: 10px;
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 30px;
}
.rank-content{
	width: 100%;
	height: 100%;
	text-align: center;
	padding-bottom: 10px;
}
.rank-top-post{
	font-weight: bold;
	font-size: 15px;
	padding-bottom: 10px;
}
.rank-top-post i{
	font-size: 20px;
	color: yellow;
	padding: 0 10px;
}
.rank-notop-post{
	border-top: 1px solid #ccc;
	font-weight: bold;
	font-size: 15px;
	padding: 20px 0 10px 15px;
}
.rank-title{
	font-size: 18px;
	font-weight: bold;
	padding: 0 10px;
	padding-bottom: 10px;
	word-wrap: break-word;
}
.rank-image{
	width: 80%;
	height: 130px;
	object-fit: contain;
	margin-bottom: 10px;
}
.rank-post-hatena{
	font-family: 'terminal';
	text-align: center;
	display: inline-block;
	font-size: 30px;
	line-height: 130px;
	font-weight: bold;
	color: white;
	width: 80%;
	height: 130px;
	background-color: #009900;
	margin-bottom: 10px;
}
.rank-user-name{
	text-align: left;
}
.rank-menu{
	float: left;
	margin-top: 10px;
}
.rank-item{
	float: left;
	padding: 0 10px;
}
.rank-time{
	margin-top: 2px;
	float: right;
	font-size: 13px;
}