// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top h3{
	font-size: 30px;
	padding-top: 180px;
}
.form{
	width: 95%;
	margin: 0 auto;
}
.user-input{
	font-size: 15px;
	background-color: rgba(255,255,255,0.7);
	border: none;
	width: 100%;
	margin-top: 25px;
	padding: 5px;
	border-radius: 30px;
	outline: none;
}
.error-flash{
	text-align: center;
	color: red;
}
.error-flash p{
	font-size: 13px;
}
.change-btn{
	font-size: 16px;
	color: #FFF;
}