// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top h3{
	font-size: 30px;
	padding-top: 180px;
}
.form{
	width: 95%;
	margin: 0 auto;
}
.user-input{
	font-size: 15px;
	background-color: rgba(255,255,255,0.7);
	border: none;
	width: 100%;
	margin-top: 25px;
	padding: 5px;
	border-radius: 30px;
	outline: none;
}
.user-file{
	margin-top: 10px;
}
.error-flash{
	text-align: center;
	color: red;
}
.error-flash p{
	font-size: 13px;
}
.change-btn{
	font-size: 16px;
	color: #FFF;
}

/* show */
.user-show-page{
	height: 100%;
	width: 100%;
	text-align: center;
}
.user-image-common{
	display: inline-block;
	height: 70px;
	width: 70px;
	border-radius:50%;
	margin-top: 100px;
	margin-bottom: 15px;
}
.user-image{
	object-fit: cover;
}
.user-hatena-image{
	line-height: 75px;
	color: #fff;
	font-size: 30px;
	font-family: 'terminal';
	font-weight: bold;
	background-color: #0e5102;
}
.user-name{
	font-size: 25px;
	margin-bottom: 20px;
}
.edit-link{
	margin-bottom: 15px;
	font-size: 15px;
}
.user-lists{
	display: inline-block;
	width: 100%;
}
.list-titles{
	display: inline-block;
	border: 1px solid #ccc;
	margin-bottom: 15px;
	border-radius: 10px;
	cursor: pointer;
}
.list-titles p{
	display: inline-block;
	padding: 6px 30px;
}
.list-title{
	border-right: 1px solid #ccc;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: #eee;
}
.list-good{
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}
.user-post-lists{
	width: 100%;
	display: inline-block;
	height: 100%;
}
.user-post-style{
	width: 95%;
	margin: 0 auto;
	margin-bottom: 10px;
	height: 100%;
	border-radius: 10px;
	box-shadow: 3px 1px 10px #ccc;
	padding: 5px;
}
.user-post-title{
	color: #111;
	font-size: 15px;
	padding: 10px 0 10px 0;
	word-wrap: break-word;
}
.user-post-image{
	width: 80%;
	height: 130px;
	object-fit: contain;
	margin-bottom: 10px;
}
.user-post-hatena{
	font-family: 'terminal';
	text-align: center;
	display: inline-block;
	font-size: 30px;
	line-height: 130px;
	font-weight: bold;
	color: white;
	width: 80%;
	height: 130px;
	background-color: #009900;
	margin-bottom: 10px;
}
.user-post-menu{
}
.user-count{
	float: left;
	font-size: 20px;
	color: #00cc00;
	margin-left: 20px;
}
.user-post-time{
	float: right;
	font-size: 13px;
	color: #aaa;
}
#show-user-goods{
	display: none;
}

/* edit */

.edit-page{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #eee;
	padding-top: 160px;
}
.edit-contents{
	width: 95%;
	margin: 0 auto;
	background-color: #fff;
	border-radius: 20px;
	padding: 40px 10px 20px 10px;
	text-align: center;
}
.edit-contents h3{
	font-size: 18px;
	color: #aaa;
	margin-bottom: 30px;
}
.edit-name{
	font-size: 15px;
	font-weight: bold;
	padding: 5px 10px;
	width: 100%;
	margin-bottom: 30px;
	border: 1px solid #ccc;
}
.edit-image{
	margin-bottom: 15px;
}
.user-destroy{
	font-size: 15px;
	margin-top: 40px;
}