doctype html
html
  head
    meta content=("text/html; charset=UTF-8") http-equiv="Content-Type" /
    title Detector
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    header
      .header-logo
        - if @current_user
          = link_to(:back, class: "border-none btn-green") do
            p.back-btn
              i.fa.fa-arrow-left
          = link_to("/posts/index",class: "border-none") do
            = image_tag("/image/detector_logo.png", class: "logo-image")
        - else
          = link_to("/",class: "border-none btn-black") do
            = image_tag("/image/detector_logo.png", class: "logo-image")
    - if flash[:notice]
      #flash
        h3.flash-text= flash[:notice]
    = yield
